.btn{
    background-color: var(--dark-purple);
    outline: 0;
    color: var(--yellow);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: var( --font-size-p);
    padding: 1rem 0;
    min-width: 85px;
}