:root{

    // colors
    --dark: #000000;
    --yellow: rgb(240, 225, 24);
    --white: #ffffff;
  
  
    // call all font-family
    --font-family-cooper-hewitt: "CooperHewitt-Bold";
    --font-family-gtpressura-regular: "GT-Pressura-Regular";
    --font-family-gtpressura-mono: "GTPressuraMono";
  
  
    // Declare all font-sizes used for all screens
    --font-size-h2: 2rem;
    --font-size-h2-small: 1rem;

    --font-size-p-regular: 20px;
    --font-size-p-small: 18px;
  
  }

  