//import all the fonts required for the project

@font-face {
    font-family: "Andika-Bold";
    src: url("../../assets/fonts/Andika-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Andika-Regular";
    src: url("../../assets/fonts/Andika-Regular.ttf") format("ttf");
}