.header{
    background-color: var(--yellow);
    color: var(--dark);
    font-size: var(--font-size-h2);
    & h2{
        display: flex;
        justify-content: center;
        padding: 1rem
    }
    @media screen and (max-width: 600px) {
        font-size: var(--font-size-h2-small);
      }
}