.header {
    background-color: var(--yellow);
    color: var(--dark);

    &__title {
        text-align: center;
        padding: var(--padding);
        font-size: var(--font-size-h2);
        font-family: var(--font-family-andika-bold);

        @media only screen and (max-width: 480px) {
            font-size: var(--font-size-h2-small);
        }
    }

}

.main {
    padding: var(--padding);
}